        #row {
            background-image: url("../img/h_img.jpg");
            text-align: center;
            color: white;
        }
        
        #ret {
            text-align: center;
        }
        
        #service {
            text-align: center;
            background-image: url("../img/s_image.jpg");
        }
        
        #back-contact {
            background-image: url("../img/c_image.jpg");
            text-align: center;
        }
        /* .centered {
            border-image: auto;
        } */
        /* #design-icon {
            width: 12%;
            height: 12%;
        }
        
        #dev-icon {
            width: 12%;
            height: 12%;
        } */
        
        body {
            font-family: "Dancing Script";
            font-size: 25px;
        }
        
        .container-fluid {
            text-align: center;
        }
        
        #logo {
            width: 30%;
            height: 30%;
        }
        
        #company {
            text-align: center;
        }
        
        #icons {
            text-align: center;
        }
        
        #name {
            background: none;
        }
        
        #inputEmail {
            background: none;
        }
        
        #footer {
            text-align: center;
        }
        /* #dev-icon {
            align-self: center;
        }
         */
        /* #icons {
            text-align: center;
        } */
        
        * {
            overflow-x: hidden;
        }
        
        #back-contact {
            text-align: center;
            background-image: url("..img/c_image.jpg");
        }